<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@int64ago">

  <title>程序猿int64Ago</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>微信公众订阅号</h2>
<h1>一个程序猿的实验地（微信号:int64Ago_Factory）</h1>
<p>by <a target="_blank" href="http://blog.sina.com.cn/int64ago">@int64ago</a></p>
<img src="/static/img/qrcode.jpg">
<p><a target="_blank" href="http://weixint64ago.sinaapp.com/test">个人测试地址</a></p></body>
</html>